<%- include("./partials/header.ejs") %>
<%- include("./partials/navbar.ejs" , {name:"home"}) %>
    

    <div class="row home-page text-center">

        <img src="images/sami.jpg" alt="my pic" class="my-img img-fluid"/>

        <h1> This is Me Sami ul Haq </h1>
        <p>Full Stack Developer</p>
    </div>
        

<%- include("./partials/footer.ejs") %>