<%- include("./partials/header.ejs") %>
<%- include("./partials/navbar.ejs" , {name:"skills"}) %>
    

<div class="skills text-center">
    <h1>My Programming Skills</h1>
  
    <button type="button" class="btn btn-primary">HTML</button>
    <button type="button" class="btn btn-secondary">CSS</button>
    <button type="button" class="btn btn-success">Javascript</button>
    <button type="button" class="btn btn-warning">Bootstrap</button>
    <button type="button" class="btn btn-danger">React</button>
    <button type="button" class="btn btn-info">Express</button>
    <button type="button" class="btn btn-light">Python</button>
        
 
  </div>
        

<%- include("./partials/footer.ejs") %>